*{
    box-sizing: border-box;
    margin: 0px;
}
:root{
    --black-color: #000000;
    --normal-text-title-color:#191d34;
    --footer-text-header-color:#012f5f; 
    --text-title-color:#112e41;
    --header-text-color:#002e5b; 
    --form-border-color: #295684;
    --top-header-bg-color:#002d5b;
    --footer-border-color: #d3e5fd;
    --input-text-color: #718eab;
    --footer-social-color: #222222;
    --normal-text-color:#506172;
    --text-color:#767676;
    --last-text-color:#888888;
    --footer-text-color:#868c98;
    --select-bg-color: #f6f6f6;
    --team-profile-color: #f6f9fe;
    --services-bg-color: #fcfdff;
    --services-bg-hover-color: #f8fafe;
    --trusted-bg-color: rgba(255,255,255,0.8);
    --rating-color: #FBBA42;
    --date-color:#aebccb;
    --white-color: #ffffff;
    --button-hover-color:#e6373d;
    --button-color:#ff656a;
}
body{
    font-family: 'Poppins';
    overflow-x: hidden;
}
img{
    max-width:100%;
    display: inline-block;
}
ul,ol{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    width: 100%;
    margin: 0px auto;
    padding: 0px 15px;
} 
.row{
    display: flex;
    flex-wrap: wrap;
}
.col-1{
    width: 8.33%;
}
.col-2{
    width: 16.66%;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.33%;
}
.col-5{
    width: 41.66%;
}
.col-6{
    width: 50%;
}
.col-7{
    width: 58.33%;
}
.col-8{
    width: 66.66%;
}
.col-9{
    width: 75%;
}
.col-10{
    width: 83.32%;
}
.col-11{
    width: 91.66%;
}
.col-12{
    width: 100%;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12{
    position: relative;
    padding: 0px 15px;
}
input{
    font-size: inherit;
    font-family: inherit;
}
.float-right{
    float: right;
}
.display-block{
    display: block;
}
.text-center{
    text-align: center;
}
.align-items-center{
    align-items: center;
}
.align-items-end{
    align-items: flex-end;
}
.justify-content-between{
    justify-content: space-between;
}
.justify-content-center{
    justify-content: center;
}
.display-flex{
    display: flex;
}
.pt-50{
    padding-top: 50px;
}
.mb-45{
    margin-bottom: 45px;
}
.mb-50{
    margin-bottom: 50px;
}

            /* Header-top-area */

.main-header{
    position: relative;
}
.header-area .header-top{
    padding: 13px 185px;
    background-color: var(--top-header-bg-color);
}
.header-area .header-top .header-left ul li{
    color: var(--white-color);
    display: inline-block;
    font-size: 14px;
    margin-right: 56px;
}
.header-area .header-top .header-left ul li i{
    margin-right: 8px;
}
.header-area .header-top .header-right .header-social li{
    display: inline-block;
}
.header-area .header-top .header-right .header-social li a{
    color: var(--white-color);
    font-size: 14px;
    padding-left: 25px;
}
.header-area .header-top .header-right .header-social a i{
    transition: all .4s ease-out 0s;
}
    /* header-bottom-area */
.header-area .header-top .header-right .header-social li a:hover i{
    color: var(--button-color);
    transform: rotatey(180deg);
}
.header-area .header-bottom{
    padding: 0px 185px;
}
.main-header .main-menu ul li{
    display: inline-block;
    position: relative;
}
.main-header .main-menu ul li a{
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--header-text-color);
    padding: 39px 19px;
    display: block;
    transition: all .3s ease-out 0s;
}
.main-header .main-menu ul li a:hover{
    color: var(--button-color);
}
    /* Header-Submenu */
.main-header .main-menu ul ul.submenu{
    position: absolute;
    width: 170px;
    background-color: var(--white-color);
    left: 0;
    top: 120%;
    padding: 17px 0;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0 0 10px 3px rgba(0,0,0,0.05);  
    border-top: 5px solid var(--button-color);
    z-index: 999;
    transition: all .3s ease-out;
}
.main-header .main-menu ul ul.submenu>li{
    margin-left: 7px;
    display: block;
}
.main-header .main-menu ul ul.submenu>li>a{
    padding: 6px 10px;
    text-transform: capitalize;
}
            /* Submenu-hover */
.main-header ul>li:hover>ul.submenu{
    visibility: visible;
    opacity: 1;
    top: 100%;
}
        /* Header-button */
.btn{
    text-transform: uppercase;
    color: var(--white-color);
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 0;
    min-width: 200px;
    display: inline-block;
    background-color: var(--button-color);
    position: relative;
    padding: 27px 44px;
    border-radius: 5px;
    z-index: 1;
    overflow: hidden;
    transition: color .4s linear;
}
.btn::before{
    content: "";
    position: absolute;
    width: 110%;
    height: 100%;
    background-color: var(--button-hover-color);
    top: 0;
    left: 0;
    border-radius: 5px;
    z-index: 1;
    transition: transform .5s;
    transition-timing-function: ease;   
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
    transform-origin: 0 0;
    transform: scaleX(0);
}
    /* Header-button-hover */
.btn:hover::before{
    transform: scaleX(1);
    z-index: -1;
}

            /* Section-1 */

.single-slider{
    width: 1903px;
    position: relative;
    left: 0px;
    top: 0px;
    z-index: 998;
    opacity: 1;
    background-image: url('../img/h1_hero.jpg.webp');
}
.slider-height{
    min-height: 830px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.hero_caption p{
    font-size: 18px;
    line-height: 1.2;
    font-weight: 300;
    color: var(--button-color);
    margin-bottom: 7px;
    cursor: default;
    text-transform: uppercase;
}
.hero_caption h1{
    font-size: 70px;
    line-height: 1.2;
    font-weight: 900;
    cursor: default;
    color: var(--top-header-bg-color);
    margin-bottom: 53px;
    text-transform: uppercase;  
}
.hero-btn{
    padding: 30px 56px;
}

            /* Team-Profile */

.team-profile{
    background-color: var(--team-profile-color);
    padding-top: 160px;
    padding-bottom: 130px;
}
    /* First-Second-Profile-Update */
.team-profile .single-profile .profile-front .profile-img{
    overflow: hidden;
}
.team-profile .single-profile .profile-front .profile-img img{
    margin-bottom: 30px;
    width: 100%;
    border-bottom: 7px solid transparent;
    transform: scale(1);
    transition: all .4s ease-out;
}
.team-profile .single-profile .profile-front .profile-img img:hover{
    border-bottom: 7px solid var(--button-color);
    transform: scale(1.1);
}
.team-profile .single-profile .profile-front .profile-caption{
    overflow: hidden;
}
.team-profile .single-profile .profile-front .profile-caption h4 a{
    font-size: 25px; 
    font-weight: 600;
    color: var(--normal-text-title-color);
    display: block;
    margin-bottom: 23px;
    transition: all .4s ease-out;
}
.team-profile .single-profile .profile-front .profile-caption h4 a:hover{
    color: var(--button-color);
}
.team-profile .single-profile .profile-front .profile-caption p{
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 30px;
    color: var(--normal-text-color);
    font-weight: normal;
}
    /* Last-Profile-Update */
.team-profile .single-profile .single-profile-last{
    border: 4px solid var(--button-color);
    padding: 31px 32px 48px 52px;
    background-color: var(--white-color);
    position: relative;
    top: 0;
}
.team-profile .single-profile .single-profile-last h2{
    color: var(--normal-text-title-color);
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 30px;
    padding-bottom: 29px;
    display: block;
    position: relative;
}
.team-profile .single-profile .single-profile-last h2::before{
    content: "";
    position: absolute;
    width: 100px;
    height: 4px;
    background-color: var(--button-color);
    left: 0;
    bottom: 0;
}
.team-profile .single-profile .single-profile-last p{
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 30px;
    color: var(--normal-text-color);
    font-weight: normal;
}
.team-profile .single-profile .single-profile-last a{
    color: var(--normal-text-title-color);
    transition: all .3s ease-out;
}
.team-profile .single-profile .single-profile-last a:hover{
    color: var(--button-color);
}

            /* We-Trusted-Area */

.we-trusted-area{
    padding-top: 200px;
}
.we-trusted-area .trusted-caption{
    padding: 57px 115px 50px 60px;
    margin-left: -152px;
    background-color: var(--trusted-bg-color);
}
.we-trusted-area .trusted-caption h2{
    color: var(--normal-text-title-color);
    font-size: 40px;
    line-height: 1.2;
    font-weight: 700;
    display: block;
    margin-bottom: 40px;
}
.we-trusted-area .trusted-caption p{
    margin-bottom: 57px;
    font-size: 16px;
    line-height: 30px;
    color: var(--normal-text-color);
    font-weight: normal;
}

            /* Our Services */

.service-area{
    padding: 200px 0px;
}
.section-title h2{
    color: var(--normal-text-title-color);
    font-size: 60px;
    text-align: center;
    line-height: 1;
    font-weight: 700;
    margin-bottom: 95px;
}
.service-area .service{
    background-color: var(--services-bg-color);
    position: relative;
    padding: 86px 61px 64px;
    transition: all .4s ease-out;
    margin-bottom: 30px;
    text-align: center;
}
.service-area .service:hover{
    background-color: var(--services-bg-hover-color);
}
.service-area .service::before{
    background-image: url('../img/services_bg.png.webp');
    position: absolute;
    content: '';
    min-width: 221px;
    height: 216px;
    z-index: -1;
    right: 0;
    bottom: 0;
    transition: all .4s ease-out;
}
.service-area .service:hover::before{
    right: -12px;
    bottom: -12px;
}
.service-area .service .service-icon i{
    display: block;
    margin-bottom: 23px;
    font-size: 54px; 
    color: var(--black-color);
    transition: all .4s ease-out;
}
.service:hover .service-icon i{
    color: var(--button-color);
}
.service-area .service .service-caption h4{
    color: var(--normal-text-title-color);
    display: inline-block;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 25px;
}
.service-area .service .service-caption p{
    line-height: 25px;
    font-size: 16px;
    color: var(--normal-text-color);
    font-weight: normal;
    margin-bottom: 15px;
}

            /* service-area-btn */

.service-area .secd-btn a:hover{
    color: var(--white-color);
}
.empty-btn{
    background-color: none;
    border: 2px solid var(--button-color);
    padding: 18px 38px;
    text-transform: capitalize;
    color: var(--button-color);
    display: inline-block;  
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 5px;
    transition: color .4s linear;
    position: relative;
    overflow: hidden;
    margin: 0;
}
.empty-btn::before{
    border: 2px solid transparent;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--button-color);  
    z-index: -1;
    transition: transform .5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.6);
    transform: scaleY(0);
}
.empty-btn:hover::before{
    transform: scaleY(1);
}

            /* comp-case */

.comp-case{
    background-color: var(--services-bg-hover-color);
    position: relative;
    z-index: 0; 
    padding: 200px 0px;
    overflow: hidden;
}
.comp-case .case-info{
    position: relative;
    left: 52%;
    margin-top: 72px;
}
.comp-case .case-info h3{
    color: var(--normal-text-title-color);
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 20px;
    padding-right: 30px;
}
.comp-case .case-info p{
    color: var(--normal-text-color);
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 50px;
    padding-right: 36px;
}
.empty-btn.btn2{
    padding: 17px 52px;
}
.comp-case .case-info a:hover{
    color: var(--white-color);
}
        /* comp-case-img-area */
.comp-case .comp-active{
    overflow: hidden;
    position: relative;
    right: -28%;
    display: flex;
}
.comp-active .img-active{
    width: 403px;
    margin-right: 15px;
}
.comp-active .case-img{
    position: relative;
    overflow: hidden;
}
.comp-case .comp-active .case-img img{
    width: 100%;
    display: block;
}
.comp-case .case-img .case-caption{
    background-color: var(--white-color);
    padding: 34px 19px 37px 30px;
    position: absolute;
    left: -200px;
    bottom: 0;
    max-width: 371px;
    transition: all .6s ease-out;
    opacity: 0;
    visibility: hidden;
    width: 80%;
}
.case-img:hover .case-caption{
    left: 0;
    bottom: 0;
    opacity: 1;
    visibility: visible;
    width: 80%;
    right: -28%;
}
.comp-case .case-img .case-caption h4 a{
    color: var(--normal-text-title-color);
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 8px;
    transition: all .4s ease-out;
}
.comp-case .case-img .case-caption h4 a:hover{
    color: var(--button-color);
}
.comp-case .case-img .case-caption p{
    margin-bottom: 30px;
    color: var(--normal-text-color);
    font-size: 16px;
    line-height: 30px;
    cursor: default;
}
.comp-case .case-img .case-caption span{
    font-size: 14px;
    font-weight: 600;
    color: var(--date-color);
    cursor: default;
}

            /* Test-Area */

.test-area{
    padding-top: 135px;
}
.test-area .test-one{
    padding-top: 65px;
    display: block;
    position: relative;
    margin: 0;
    overflow: hidden;
}
.test-icon img{
    margin: 0px auto;
    display: block;
}
.test-icon img{
    border: 3px dashed transparent;
    border-radius: 50%;
}
.test-one:hover .test-icon img{
    box-shadow: 0 0 0 0 rgba(216,10,10,0.302);
    animation: 1.3s cubic-bezier(0.8, 0, 0, 1)normal none infinite running start;
}
@keyframes start{
    100%{
        box-shadow: 0 0 0 45px rgba(230, 10, 10, 0);
    }
}
.test-area .test-caption p{
    font-size: 25px;
    color: var(--normal-text-title-color);
    padding: 0px 80px;
    cursor: default;
    line-height: 1.5;
    margin-bottom: 37px;
}
.test-area .test-rating{
    margin-bottom: 21px;
}
.test-area .test-rating i{
    color: var(--rating-color);
    display: inline-block;
}
.test-area .rating-caption span{
    color: var(--text-title-color);
    font-size: 18px;
    font-weight: 400;
    cursor: default;
    text-transform: uppercase;
}
.test-area .rating-caption span span{
    color: var(--text-color);
    font-size: 16px;
    cursor: default;
    text-transform: capitalize;
}

            /* Recent News */

.recent-area{
    padding-top: 185px;
    padding-bottom: 170px;
}
.recent-area .section-title h2{
    color: var(--normal-text-title-color);
    font-size: 60px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 95px;
}
.recent-area .recent-info{
    margin-bottom: 30px;
}
    /* Recent News-Img */
.recent-area .recent-info .recent-img{
    overflow: hidden;
}
.recent-area .recent-info .recent-img img{
    width: 100%;
    transform: scale(1);
    transition: all .5s ease-out;
}
.recent-area .recent-info:hover .recent-img img{
    transform: scale(1.1);
}
    /* Recent News-caption */
.recent-area .recent-info .recent-caption{
    background-color: var(--services-bg-color);
    padding: 20px 30px;
}
.recent-area .recent-info .recent-caption span{
    font-size: 14px;
    margin-bottom: 20px;
    color: var(--button-color);
    display: block;
}
.recent-area .recent-info .recent-caption h4{
    margin-bottom: 8px;
}
.recent-area .recent-info .recent-caption h4 a{
    color: var(--normal-text-title-color);
    font-size: 20px;
    font-weight: 500;
    transition: all .3s ease-out;
}
.recent-area .recent-info .recent-caption h4 a:hover{
    color: var(--button-color);
}
.recent-area .recent-info .recent-caption p{
    color: var(--date-color);
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 15px;
}

            /* Call Back-Area */

.req-area{
    padding: 100px 0px;
    background-color: var(--top-header-bg-color);
}
.req-area .req-content h3{
    color: var(--white-color);
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 30px;
}
.req-area .req-content p{
    color: var(--white-color);
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 15px;
}
.req-area .form-detail .form-box{
    margin-bottom: 30px;
}
.form-detail .form-box input{
    width: 100%;
    height: 55px;
    background-color: transparent;
    border: 2px solid var(--form-border-color);
    border-radius: 5px;
    padding: 11px 19px;
    color: var(--input-text-color);
    outline: 0;
}
::placeholder{
    color: var(--white-color);
}
    /* service-menu */
.form-detail .select-item select{
    background-color: transparent;
    outline: none;
    height: 55px;
    width: 100%;
    border: 2px solid var(--form-border-color);
    border-radius: 5px;
    padding: 11px 19px;
    line-height: 1.9;
    color: #8ca2b8;
    font-size: 14px;
    cursor: pointer;
}
    /* new-btn */
.send-btn{
    background-color: var(--button-color);
    color: var(--white-color);
    font-size: 14px;
    width: 100%;
    cursor: pointer;
    height: 55px;
    border: none;
    border-radius: 5px;
    transition: color .4s linear;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.send-btn::before{
    content: "";
    position: absolute;
    border: 2px solid transparent;
    left: 0;
    top: 0;
    width: 110%;
    height: 100%;
    background-color: var(--button-hover-color);
    z-index: -1;
    transition: transform .5s;
    transition-timing-function: ease;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
    transform: scaleX(0);
}
.send-btn:hover::before{
    transform: scaleX(1);
}

            /* footer-area */

.footer-area{
    background-color: var(--services-bg-hover-color);
}
.footer-padding{
    padding-top: 170px;
    padding-bottom: 50px;
}
.footer-area .footer-logo{
    margin-bottom: 40px;
}
.footer-area .footer-para p{
    color: var(--footer-text-color);
    padding-right: 125px;
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 50px;
    font-weight: normal;
}
.footer-area .footer-social a i{
    color: var(--footer-social-color);
    font-size: 19px;
    margin-right: 12px;
    transition: all .4s ease-out;
}
.footer-area .footer-social a i:hover{
    color: var(--button-color);
    transform: translateY(-3px);
    box-shadow: 0 -3px 0 0 rgba(24,24,24,0.15) inset, 0 3px 10px rgba(0,0,0,0.3);;
}
.footer-area .footer-title h4{
    color: var(--footer-text-header-color);
    font-size: 20px;
    margin-bottom: 29px;
    text-transform: capitalize;
    font-weight: 500;
}
.footer-area .footer-title ul li{
    margin-bottom: 15px;
}
.footer-area .footer-title ul li a{
    color: var(--footer-text-color);
    font-weight: 300;
    transition: all .4s ease-out;
}
.footer-area .footer-title ul li a:hover{
    color: var(--button-color);
    padding-left: 5px;
}
    /* footer-bottom-area */
.footer-bottom-area{
    background-color: var(--services-bg-hover-color);
}
.footer-bottom-area .footer-border{
    border-top: 1px solid var(--footer-border-color);
    padding: 40px 0px 23px;
}
.footer-bottom-area .footer-copy-right p{
    color: var(--last-text-color);
    font-size: 16px;
    font-weight: 300;
    line-height: 2;
    margin-bottom: 12px;
}
.footer-bottom-area .footer-copy-right p i{
    color: var(--button-color);
}
.footer-bottom-area .footer-copy-right p a{
    color: var(--button-color);
}